<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.succlz123.shrink.app">

    <application
        android:name="org.succlz123.shrink.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="org.succlz123.shrink.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.succlz123.shrink.FirstActivity" />

        <activity android:name="org.succlz123.shrink.app.test.SecondActivity" />

        <activity android:name="org.succlz123.shrink.StartForResultActivity" />

    </application>

</manifest>